.para{
    text-align: center;
    color: white;
}

.background1{
    background-color: rgb(39, 36, 36);
}

.primer_cambio{
    color: gray;
    text-align: center;
}

.pad{
    padding-top: 25px;
}

.pad2{
    padding-left: 30px;
}


.pad3{
    display: flex;
    align-items: center;
    justify-content: center;
}